.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;

    &.shrink {
        grid-auto-columns: 12rem;
    }

    &.full {
        width: 100%;
        grid-auto-columns: 1fr;
    }
}

.cell {
    /** 
     * Cells must hold border & background styles (opposed to the row),
     * so that they don't disappear when the table is being scrolled
    * horizontally.
     */
    padding: var(--space-4);
    border-bottom: 1px solid var(--color-gray-100);
    background: var(--color-white);

    // unset th default styles:
    display: block;
    text-align: left;
    font-weight: normal;
}

.header .cell {
    border-bottom-color: var(--color-blue-200);
    background: var(--color-blue-100);
}

.standard:hover .cell {
    background: var(--color-blue-200);
}
