.row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12rem;
    grid-template-rows: 1fr;
}

.cell {
    /** 
     * Cells must hold border & background styles (opposed to the row),
     * so that they don't disappear when the table is being scrolled
    * horizontally.
     */
    padding: var(--space-4);
    border-bottom: 1px solid var(--color-gray-100);

    // unset th default styles:
    display: block;
    text-align: left;
    font-weight: normal;
}

.header .cell {
    background: var(--color-gray-100);
}
