node_modules/
.vscode/
.DS_Store
coverage/

# components
dist/
www/
loader/
storybook-static/
.stencil/

# app
build/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
